body{
    background-image:url(100.jpg)
}
h3{color: rgb(6, 245, 38);}
p{color: aqua;}
H6{color: blue;}
a{color: blue;}

h5{ color: crimson;}


```css
<style type="text/css">
  .download-image {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }
</style>

<a href="imageURL" class="download-image">Download Image</a>




